header {
display: flex;
justify-content: center;
background-color: rgb(164, 201, 230);
color:rgb(10, 9, 9);
font-size: 25px;

}

body {
background-color: rgb(103, 137, 163);
color:rgb(0, 0, 0);
}

#CssBasics {
background-color: rgb(171, 208, 236);
}
h1 {
background-color: rgb(171, 208, 236);
}

h3 {
    background-color: rgb(171, 208, 236);
    font-size: 25px;
}

.labs {
display: flex;
flex-direction: column;
gap: 45px;
border: 10px;
}

@media (min-width: 800px) {
    .labs {
        flex-direction: row;  
        justify-content: space-between;
    }
}

.lab {
width: 48%; 
padding: 9px;
border: 12px solid #a83a19;
border-radius: 30px; 
background-color: #ddd3d3;
margin-top: 20px;
}

footer {
    text-align: center;
    background-color: aliceblue;
    margin-top: 50px;
    }
nav {
    font-size: 20px;
    margin: 0px;
}